/* This CSS file will need to be added to the styling of
your web pages for the styles to be rendered. */

/*
Theme colors are:
Teal/Blue:  #00ABB3
Dark Gray:  #3C4048
Light Gray: #B2B2B2
Off-White:  #EAEAEA
*/

body {
    background-color: #3C4048;
    color: #EAEAEA;
}

a {
    color: #00ABB3;
}

h1 {
}

hr {
    border: 4px solid #B2B2B2;
    border-radius: 4px 4px 4px 4px;
    width:50%;
}

p {
    font-size: 16px;
}

section {
    padding: 20px 40px 40px;
    margin-right:auto;
    margin-left:auto;
}

.btn {
    background-color: #00ABB3;
    color: #EAEAEA;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -400%);
}

.container-item {
    margin-right: auto;
    margin-left: auto;
}

.col-lg-6 {
    padding: 0px;
}

.img_proj {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px;
}

.img_thumbnail {
    width: 300px;
    height: 300px;
    object-fit:cover;
    position: absolute;
    transform: translate(-50%, -200%)
}

.thumbnail {
    background-color: #77797f;
    border-color: #77797f;
}

.vertical-center {
}

/* Navbar */
.navbar {
    background-color: #2a2d32;
}

.dropdown-toggle {
    background-color: #2a2d32;
}

/* Title */
#title {
    color: #00ABB3;
}

/* Content */
#content {
    background-color: #B2B2B2;
    color: #3C4048;
}

.about-me {
    width: 65%;
    margin: 100px auto 100px auto;
}

.content-div {
    padding: 20px;
}

.content-text-div {
    text-align: vertical;
}

.code-img-l {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.code-img-r {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row {
    width: 65%;
    margin: 100px auto 200px auto;
    text-align: left;
}

/* Background Image */
#bg-img-1 {
    position: relative;
    text-align: left;
    left: -100px;
    height: 20%;
    width: 70%;
}

#bg-img-2 {
    position: relative;
    transform: translate(-200%, -50%)
    text-align: right;
    right: -100px;
    height: 20%;
    width: 70%;
}

/* Footer Content */
#base-content {
}

/* Footer */
#footer {
    padding-bottom: 0px;
    background-color: #2a2d32;
}

.footer-icons {
  padding: 10px 10px 20px;
}
