/* This CSS file will need to be added to the styling of
your web pages for the styles to be rendered. */

/*
Theme colors are:
Teal/Blue:  #00ABB3
Dark Gray:  #3C4048
Light Gray: #B2B2B2
Off-White:  #EAEAEA
*/

body {
    background-color: #3C4048;
    color: #EAEAEA;
}

a {
    color: #00ABB3;
}

h1 {
}

hr {
    border: 4px solid #B2B2B2;
    border-radius: 4px 4px 4px 4px;
    width:50%;
}

p {
    font-size: 16px;
}

section {
    padding: 20px 40px 40px;
    margin-right:auto;
    margin-left:auto;
}

.btn {
    background-color: #00ABB3;
    color: #EAEAEA;
    border-radius: 0px!important;
}

.container-item {
    margin-right: auto;
    margin-left: auto;
}

.col-lg-6 {
    padding: 0px;
}

.img_proj {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px;
}

.img_thumbnail {
    width: 200px;
    height: 200px;
    object-fit:cover;
}

.thumbnail {
    background-color: #77797f;
    border-color: #77797f;
}

.vertical-center {
}

/* Navbar */
.navbar {
    background-color: #2a2d32;
}

.dropdown-toggle {
    background-color: #2a2d32;
}

/* Title */
#title {
}

/* Content */
#content {
    background-color: #B2B2B2;
    color: #3C4048;
}

.content-div {
    padding: 20px;
}

.content-text-div {
    text-align: vertical;
}

/* Footer Content */
#base-content {
}

/* Footer */
#footer {
    padding-bottom: 0px;
    background-color: #2a2d32;
}

.footer-icons {
  padding: 10px 10px 20px;
}
