/* This CSS file will need to be added to the styling of
your web pages for the styles to be rendered. */

/*
Theme colors are:
Teal/Blue:  #00ABB3
Dark Gray:  #3C4048
Light Gray: #B2B2B2
Off-White:  #EAEAEA
*/

body {
    background-color: #3C4048;
    color: #EAEAEA;
}

a {
    color: #00ABB3;
}

h1 {
}

hr {
    border: 4px solid #B2B2B2;
    border-radius: 4px 4px 4px 4px;
    width:50%;
}

p {
    font-size: 16px;
}

section {
    padding: 20px 40px 40px;
    margin-right:auto;
    margin-left:auto;
}

.img_proj {
    width: 350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.img_thumbnail {
    width: 350px;
    height: 350px;
    object-fit:cover;
    border-radius: 10%;
}

/* Title */
#title {
}

/* Projects Preview */
#projects-preview {
    background-color: #B2B2B2;
    color: #3C4048;
}

.project-desc-section {
    vertical-align: middle;
}

/* Footer */
#footer {
    padding-bottom: 0px;
}
