/* Basic styles for the app */
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  /* Highlight class for the SVG */
  .highlight {
    fill: #324f52;  /* Change the color to highlight */
    stroke: #00ABB3;   /* Add a stroke for highlighting */
    stroke-width: 5;
  }
  
  /* Default styling for the SVG */
  svg {
    fill: #3C4048;
    stroke: #aaa;
    stroke-width: 2;
    cursor: pointer;
  }
  