.header {
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #23252a;
}

.list {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: auto;
  padding-top: 30px;
  margin-right: 1rem;
}

.list a {
  text-decoration: none;
  color: #eaeaea;
}

.list a:hover,
.list a.active {
  color: #00abb3;
}
