.header {
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #23252a;
}

.list {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: auto;
  padding-top: 40px;
  margin-right: 1rem;
}

.item a {
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
  color: #EAEAEA;
}

.item a:hover,
.item a.active {
  color: #00abb3;
}

/* Responsive styling for small screens */
@media (max-width: 475px) {
  .header {
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    padding-top: 0%;
    gap: 0rem;
    /* margin-top: 1rem; */
    align-items: flex-end;
    margin: 0;
    /* flex-grow: 1; */
  }

  .item {
    width: auto;
  }

  .item a {
    display: block;
    padding: 0.5rem 0;
    width: 100%;
    color: #EAEAEA;
    text-align: right;
  }
}
