.header {
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #3C4048;
  }
  
  .list {
    display: flex;
    gap: 3rem;
    list-style-type: none;
  }
  
  .list a {
    text-decoration: none;
    color: #EAEAEA;
  }
  
  .list a:hover,
  .list a.active {
    color: #00ABB3;
  }