.banner {
  text-align: center;
  background-color: #3C4048;
  color: #EAEAEA;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.content {
  text-align: center;
  background-color: #EAEAEA;
  color: #3C4048;
  padding: 1rem;
}

button {
  color: #3C4048;
  background-color: #00ABB3;
}

.logo {
  width: 40%;
  max-width: 300px;
  padding: 1rem;
}

.projectlogo {
  width: 15%;
  padding: 1rem;
}

.avatar {
  width: 50%;
  padding: 1rem;
}