.banner {
  text-align: center;
  background-color: #3C4048;
  color: #EAEAEA;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.content {
  text-align: center;
  background: rgba(234,234,234,1);
  color: #3C4048;
  padding: 20px 8% 30px 8%;
  margin: 1rem 0 0 0;
}

.logo {
  width: 20%;
  max-width: 300px;
  padding: .5rem;
  margin-bottom: 20px;
}

.logoLarge {
  max-width: 50%;
  padding: 1rem;
}

.logoContent {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.projectlogo {
  width: 15%;
  padding: 1rem;
}

.projectImage {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.avatar {
  width: 41%;
  padding: 1rem;
}

.interests {
  width: 25%;
  padding: 1rem;
}

.description {
  padding-bottom: 2rem;
}