{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h1>All Cafes</h1>

	        <table class="table table-dark">
                <thead>
                    <tr>
                        {% for heading in cafes[0] %}
                        <p><th scope="col">{{ heading }}</th></p>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for cafe in cafes[1:] %}
                    <tr>
                        {% for info in cafe %}
                            {% if info.startswith('http') %}
                                <td><a href={{info}}>Maps Link</a></td>
                            {% else %}
                                <td>{{ info }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
  	        </table>

        <p><a href="/">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
