<!-- Footer-->
<section id="footer">
    <div class="row text-center">
        <a href="https://www.linkedin.com/in/christian-grundman/">
            <i class="footer-icons fa-brands fa-2xl fa-linkedin-in"></i>
        </a>
        <a href="https://www.xing.com/profile/Christian_Grundman">
            <i class="footer-icons fa-brands fa-2xl fa-xing"></i>
        </a>
        <a href="https://www.xing.com/profile/Christian_Grundman">
            <i class="footer-icons fa-brands fa-2xl fa-github"></i>
        </a>
        <div>
            <p>© Copyright 2022 Christian Grundman</p>
        </div>
    </div>
</section>