{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block title %}Christian Grundman{% endblock %}

{% block content %}
<!-- Title -->
<section id="title">
    <div class="text-center">
        <div class="container">
            <h1 class="display-4">💻 Christian Grundman ⚙️</h1>

            <h3>📋 Project Management 📈</h3>
            <h3>💾 Programming ☕</h3>
            <h3>⚙️ Mechanical Design 🔧</h3>
            <h3>🔋 Electronics Design 🕹️</h3>
            <hr class="my-4">

            <p>Below is a link to my showcase projects:</p>
            <a class="btn btn-info btn-lg" href="/projects" role="button">Projects</a>
            <hr class="my-4">

            <p>More about me:</p>
            <a class="btn btn-info btn-lg" href="/about" role="button">About Me</a>
        </div>
    </div>
</section>

{% endblock %}
