{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block title %}Christian Grundman{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">☕️ Christian Grundman 💻</h1>
        <p class="lead">Programmer and Engineer</p>
        <hr class="my-4">
        <p>This is a forthcoming website to showcase my projects and interests. More information to come soon</p>
        <hr class="my-4">
        <p>Below will link you to my projects page. Click the button if you are interested</p>
        <a class="btn btn-warning btn-lg" href="/projects" role="button">Show Me!</a>
    </div>
</div>

{% endblock %}
