{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block title %}Medical System{% endblock %}

{% block content %}
<!-- Title -->
<section class="title">
    <div class="text-center">
        <div class="container">
            <h1 class="display-4">Medical System</h1>
            <p class="lead">Design, Development, and Construction of a "Medical System"</p>
        </div>
    </div>
</section>

<!-- Content -->
<section id="content">
    <!-- Image 1 -->
    <div class="container-fluid">
        <div class="row content-div">
            <div class="col-lg-6 text-center">
                <img class="img_proj" src="{{url_for('static', filename='images/medical_system_1.jpg')}}" alt="Image 1">
            </div>
            <div class="col-lg-6 text-center content-text-div">
                <h3 class="project-title">Final System</h3>
                <p class="project-description">
                    The total system together. Unseen are the sensor and arduino board. There was no casing designed for
                    this project.
                </p>
            </div>
        </div>
    </div>
    <!-- Image 2 -->
    <div class="container-fluid">
        <div class="row content-div">
            <div class="col-lg-6 text-center content-text-div">
                <img class="img_proj" src="{{url_for('static', filename='images/medical_system_2.jpg')}}" alt="Image 2">
            </div>
            <div class="col-lg-6 text-center">
                <h3 class="project-title">Analog Design</h3>
                <p class="project-description">
                    Analog Circuit Designed by Analog Team. The team had 2 weeks to design a board to fit all the
                    filters, amplifiers, and signal connections together.
                </p>
            </div>
        </div>
    </div>
    <!-- Image 3 -->
    <div class="container-fluid">
        <div class="row content-div">
            <div class="col-lg-6 text-center">
                <img class="img_proj" src="{{url_for('static', filename='images/medical_system_3.jpg')}}" alt="Image 3">
            </div>
            <div class="col-lg-6 text-center">
                <h3 class="project-title">Analog PCB</h3>
                <p class="project-description">
                    Final analog circuit board. This is a handmade PCB from the above design.
                </p>
            </div>
        </div>
    </div>
    <!-- Image 4 -->
    <div class="container-fluid">
        <div class="row content-div">
            <div class="col-lg-6 text-center">
                <img class="img_proj" src="{{url_for('static', filename='images/medical_system_4.jpg')}}" alt="Image 4">
            </div>
            <div class="col-lg-6 text-center">
                <h3 class="project-title">Analog Signal</h3>
                <p class="project-description">
                    The signal received from the sensor, after analog processing, to the oscilloscope. This was used to
                    tune the digital thresholding.
                </p>
            </div>
        </div>
    </div>
    <!-- Image 5 -->
    <div class="container-fluid">
        <div class="row content-div">
            <div class="col-lg-6 text-center">
                <img class="img_proj" src="{{url_for('static', filename='images/medical_system_5.jpg')}}" alt="Image 5">
            </div>
            <div class="col-lg-6 text-center">
                <h3 class="project-title">System Display</h3>
                <p class="project-description">
                    Sample readout of heart, with high Pressure alarm. The device also includes a buzzer to indicate
                    heart beat (during the QRS-complex).
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row content-div">
            <div class="text-center">
                <p>Check out the full presentation here:</p>
                <div class="row">
                    <a class="btn btn-info btn-lg"
                       href="{{url_for('static', filename='presentations/medical-system-presentation.pdf')}}"
                       role="button">Presentation</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Base Content -->
<section id="base-content">
    <div class="container-fluid text-center">
        <div class="row">
            <h3>Special Thanks:</h3>
            <p>Paniz Izadi, Sevda Golkar, Andrea Rǎileanu, Akin Çaǧlayan</p>
            <p>Also to the Professors and student tutors that provided insights and learning opportunities.</p>

            <p>Return to projects page here:</p>
            <div class="row">
                <a class="btn btn-info btn-lg" href="/projects" role="button">Projects</a>
            </div>

            <p>Return to homepage here:</p>
            <div class="row">
                <a class="btn btn-info btn-lg" href="/" role="button">Home</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}