{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block title %}Projects{% endblock %}

{% block content %}
<!-- Projects -->
<div class="projects text-center">
    <div class="container">
        <h1 class="display-4">💼 Projects ✅</h1>
        <p class="lead">These are the projects that I have worked on recently.</p>
        <hr class="my-4">

        <div class="row">
            <a class="btn btn-warning btn-lg" href="/medical-system" role="button">Design and Development of a "Medical System"</a>
        </div>
        <hr class="my-4">

        <p>Interested in my full resume?</p>
        <div class="row">
            <a class="btn btn-warning btn-lg" href="{{url_for('static', filename='cv/cv.pdf')}}" role="button">Resume</a>
        </div>
        <div class="row">
            <a class="btn btn-warning btn-lg" href="{{url_for('static', filename='cv/cv-deutsch.pdf')}}" role="button">Resume (Deutsch)</a>
        </div>
        <hr class="my-4">

        <p>Return to homepage here:</p>
        <div class="row">
            <a class="btn btn-warning btn-lg" href="/" role="button">Home</a>
        </div>
    </div>
</div>

{% endblock %}
