{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block title %}Projects{% endblock %}

{% block content %}

<div class="projects text-center">
    <div class="container">
        <h1 class="display-4">💼 Projects ✅</h1>
        <p class="lead">These are the projects that I have worked on recently.</p>
        <hr class="my-4">
        <div class="row">
            <p>Interested in my full resume?</p>
        </div>
        <div class="row">
            <a class="btn btn-warning btn-lg" href="/resume" role="button">resume</a>
        </div>
        <hr class="my-4">
        <div class="row">
            <p>Return to homepage here:</p>
        </div>
        <div class="row">
            <a class="btn btn-warning btn-lg" href="/" role="button">Home</a>
        </div>
    </div>
</div>

{% endblock %}
