.App {
  text-align: center;
}

.Logo {
  height: 25vmin;
  margin: 0px 5px 0px 5px;
  pointer-events: none;
}

.Programming-logo {
  height: 25vmin;
  margin: 0px 5px 0px 5px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Logo {
    animation: App-logo-spin infinite 10s linear;
  }

  .underscore {
    animation: blink infinite 1s ease;
  }
}

.App-header {
  background-color: #3C4048;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
} */